# Python Operators:

In [1]:
a = 90
print(type(a))
print(a)

<class 'int'>
90

In [2]:
a = 80
b = 30
c = a + b
print(c)

110

In [3]:
a = 100
b = 50
c = a - b
print(c)

50

In [6]:
a = 60
b = 4
c = a * b
print(c)

240

In [8]:
a = 50
b = 30
c = a/b
print(c)

1.6666666666666667

In [9]:
a = 70
b = 30
c = a % b
print(c)

10

In [10]:
a = 70
b = 30
c = a // b
print(c)

2

In [11]:
a = 2
b = 3
c = a ** b
print(c)

8

In [13]:
a = 30
b = 60
a += b
print(a)
print(b)

90
60

In [14]:
a = 30
b = 60
a -= b
print(a)

-30

In [15]:
a = 60
b = 30
a -= b
print(a)

30

In [16]:
a = 60
b = 3
a *= b
print(a)

180

In [17]:
a = 60
b = 20
a /= b
print(a)

3.0

In [19]:
a = 60
b = 20
a %= b
print(a)

0

In [22]:
a = 70
b = 30
a /= b
print(a)

2.3333333333333335

In [20]:
a = 70
b = 30
a %= b
print(a)

10

In [21]:
a = 70
b = 30
a //= b
print(a)

2

In [24]:
a = 300
b = 100
print(a == b)

False

In [28]:
a = 300
b = 100
print(a != b)

True

In [29]:
a = 300
b = 100
print(a <= b)

False

In [30]:
a = 300
b = 100
print(a >= b)

True

In [27]:
a = 300
b = 100
print(a > b)

True

In [31]:
a = 300
b = 100
print(a < b)

False

In [32]:
a = 500
b = 400
c = 100
print(a>b and b>c)

True

In [33]:
a = 500
b = 400
c = 100
print(a>b or b>c)

True

In [34]:
a = 500
b = 400
c = 100
print(not(a>b and b>c))

False

In [35]:
a = 200
b = 200
print(id(a))
print(id(b))
print(a is b)

2744937702032
2744937702032
True

In [36]:
a = 'Today is Sunday'
b = 'Today is Sunday'
print(id(a))
print(id(b))
print(a is b)

2745021058864
2745021052784
False

In [37]:
a = [10, 20, 30]
b = [10, 20, 30]
print(id(a))
print(id(b))
print(a is b)

2745020758336
2745021023104
False

In [39]:
a = [10, 20, 30]
c = a
print(id(a))
print(id(c))
print(a is not c)

2745021024384
2745021024384
False

In [42]:
a = [10, 20, 30]
c = a
print(id(a))
print(id(c))
print(a is c)

2745021023104
2745021023104
True

In [40]:
a = 500
b = 500
print(id(a))
print(id(b))
print(a is b)

2745021026896
2745021027856
False

In [41]:
a = 'Sunday'
b = 'Sunday'
print(id(a))
print(id(b))
print(a is b)

2744986105264
2744986105264
True

In [43]:
a = 'Today is Sunday'
print('i' in a)

True

In [44]:
a = 'Today is Sunday'
print('is' in a)

True

In [45]:
a = 'Today is Sunday'
print('I' in a)

False

In [46]:
a = [10, 20, 30]
print(20 in a)

True

In [47]:
a = (10, 20, 30)
print(150 in a)

False

In [48]:
a = 'Today is Sunday'
print('Sunday' in a)

True

In [49]:
a = 'Today is Sunday'
print('sunday' in a)

False

# Conditional Statements:

In [50]:
a = 100
b = 200
if a < b:
    print(a)
    print(b)
    print('a less than b')

100
200
a less than b

In [51]:
a = 200
b = 200
if a <= b:
    print(a)
    print(b)
    print('a less than b')
if a >= b:
    print(a)
    print(b)
    print('a greater than b')
if a == b:
    print(a)
    print(b)
    print('a and b are equal')

200
200
a less than b
200
200
a greater than b
200
200
a and b are equal

In [53]:
a = 200
b = 200
if a <= b:
    print(a)
    print(b)
    print('a less than b')
elif a >= b:
    print(a)
    print(b)
    print('a greater than b')
elif a == b:
    print(a)
    print(b)
    print('a and b are equal')

200
200
a less than b

In [54]:
a = 200
b = 200
if a < b:
    print(a)
    print(b)
    print('a less than b')
elif a >= b:
    print(a)
    print(b)
    print('a is greater than b')
elif a == b:
    print(a)
    print(b)
    print('a and b are equal')

200
200
a is greater than b

In [55]:
a = 100
b = 100
if a > b:
    print(a, 'Greater than', b)
elif b > a:
    print(b, 'Greater than', a)
else:
    print(a, 'and', b, 'are equal')

100 and 100 are equal

In [56]:
a = 300
if a < 100:
    print(a, 'Less than 100')
elif (100 <= a <= 200):
    print(a, 'is between 100 and 200')
else:
    print(a, 'Greater than 200')

300 Greater than 200

In [57]:
a = 40
if a < 100:
    print(a, 'Less than 100')
    if (50 <= a <= 100):
        print(a, 'is between 50 and 100')
    elif (20 <= a <= 50):
        print(a, 'is between 20 and 50')
    else:
        print(a, 'is less than 20')
elif (20 <= a <= 200):
    print(a, 'is between 50 and 200')
else:
    print(a, 'Greater than 200')

40 Less than 100
40 is between 20 and 50

In [60]:
a = 150
b = 200
if a < b:
    print(a, 'is smaller than', b)
    if 10 <= a <= 100:
        print(a, 'is between 10 and 100')
    elif a < 10:
        print(a, 'is less than 10')
else:
    print(a,'is bigger number than', b)

150 is smaller than 200

In [61]:
a = input('enter first number')
b = input('enter second number')
total = a + b
print(total)

enter first number10
enter second number20
1020

In [62]:
m = int(input("enter first number"))
n = int(input("enter second number"))
total = m + n
print(total)

enter first number60
enter second number30
90

                   or

In [63]:
m = input("enter first number")
n = input("enter second number")
total = int(m) + int(n)
print(total)

enter first number50
enter second number20
70

In [64]:
total = 0
for i in range(5):
    print(i)

0
1
2
3
4

# while Loop:

In [65]:
total = 0
while total < 100:
    number = int(input('enter number'))
    total = total + number
print('Sum of numbers', total)

enter number49
enter number56
Sum of numbers 105

In [66]:
a = 1
while a < 5:
    print('The number is', a)
    a += 1
print('Program end')

The number is 1
The number is 2
The number is 3
The number is 4
Program end

In [67]:
x = 2
print('Loop Start')
while x < 10:
    print(x)
    x += 1
print('Loop End')

Loop Start
2
3
4
5
6
7
8
9
Loop End

In [68]:
x = 2
print('Loop Start')
while x < 10:
    print(x)
    x += 2
print('Loop End')

Loop Start
2
4
6
8
Loop End

# for Loop:

In [69]:
A = [10, 20, 30, 40]
for i in range(len(A)):
    print(i)
print('Good Day')

0
1
2
3
Good Day

In [71]:
for i in range(10):
    print(str(i)*i)
print()

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [72]:
a = 10
print(a)
a += 1
print(a)

10
11

In [73]:
a = [10, 15, 20, 25]
for i in a:
    print(i)
print('Good Day')

10
15
20
25
Good Day

In [74]:
len(a)

4

In [75]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [77]:
a = ['pen', 'pencil', 'book', 'toy']
b = ['school', 'college']
for i in a:
    print(i)
    for j in b:
        print(' ', j)

pen
  school
  college
pencil
  school
  college
book
  school
  college
toy
  school
  college

In [78]:
a = ['pen', 'book']
b = ['school', 'college']
for i in a:
    print(i)
    for j in b:
        print(' ',j)
        continue
        print(' ', j)

pen
  school
  college
book
  school
  college

In [79]:
a = ['pen','book']
b = ['school', 'college']
for i in a:
    print(i)
    for j in b:
        print(' ', j)
        print(' ', j)

pen
  school
  school
  college
  college
book
  school
  school
  college
  college

In [80]:
a = ['pen', 'book']
b = ['school', 'college']
for i in a:
    print(i)
    for j in b:
        print(' ', j)
        break
        print(' ', j)

pen
  school
book
  school

In [81]:
a = ['pen', 'pencil']
b = ['school', 'college']
for i in a:
    print(i)
    continue
    for j in b:
        print(' ', j)
        print(' ', j)

pen
pencil

In [82]:
a = ['pen', 'pencil']
b = ['school', 'college']
for i in a:
    print(i)
    break
    for j in b:
        print(' ', j)
        print(' ', j)

pen